@*STYLE LINK HERE*@
<link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
@model IEnumerable<TipsTravels_System.Models.Person>

@{
    ViewBag.Title = "Index";
}

<h2 class="display-2 header_h2">Traveller Dashboard</h2>



<p class="display-2">
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table table-striped table-bordered">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Mail)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Phone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Photo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Username)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Role1.RoleName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.FName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Mail)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Phone)
        </td>
        <td>
            @if (item.Photo !=  null)
            {
                <img src ='data:image/png;base64,@Convert.ToBase64String(item.Photo)' alt="" height=100 width=200/>
            }
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Username)
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.Role1.RoleName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.PersonID }) |
            @Html.ActionLink("Details", "Details", new { id=item.PersonID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.PersonID })
        </td>
    </tr>
}

</table>
